* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
  background: url(img/overview-hero-west.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 2em;
  list-style: none;
}

header nav ul a {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}

header nav ul a:hover {
  transform: scale(1.2);
  border-bottom: 3px solid #3699e5;
}

.logo {
  text-decoration: none;
  font-size: 40px;
  color: black;
}

.logo span {
  color: #3699e5;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
  margin-left: 4em;
  margin-top: 50px;
}

.left-col h1 {
  font-size: 80px;
  color: black;
  line-height: 1.1;
}

.left-col span {
  color: #3699e5;
}

.right-col {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  font-size: 24px;
  color: #3699e5;
  font-weight: 600;
  border: 2px solid #3699e5;
  border-radius: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right-col img {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
@keyframes bump {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.left-col h1 {
  font-size: 80px;
  color: black;
  line-height: 1.1;
  animation: bump 3s ease-in-out infinite;
}

.left-col span {
  color: #3699e5;
  display: inline-block;
  animation: bump 20s ease-in-out infinite;
}

.right-col .play {
  transition: 0.3s ease;
  max-width: 50px;
  cursor: pointer;
}

.right-col .play:hover {
  transform: scale(1.1);
}

.MUSIC {
  display: flex;
  margin-left: 50px;
}
