* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background: url(img/overview-hero-west.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo img {
  margin-top: 25px;
  width: 300px;
  height: auto;
}

header nav ul {
  display: flex;
  gap: 2em;
  list-style: none;
}

header nav ul a {
  color: blue;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}

header nav ul a:hover {
  transform: scale(1.2);
  border-bottom: 3px solid blue;
}
.music-list {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 10;
  top: 100%;
  left: 66%;
  position: absolute;
}

.music-list a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s;
}

.music-list a:hover {
  background-color: blue;
  color: white;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
  margin-left: 4em;
  margin-top: 50px;
}

.left-col h1 {
  font-weight: 500;
  font-size: 80px;
  color: black;
  line-height: 1.1;
  animation: bump 3s ease-in-out infinite;
}

.left-col span {
  color: blue;
  display: inline-block;
  animation: bump 20s ease-in-out infinite;
}

.right-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 80px;
  margin-left: 300px;
  font-size: 24px;
  word-spacing: 3px;
  color: black;
  font-size: 50px;
  font-weight: 300;
  transform: translate(-50%, -50%);
}
.subtitle {
  margin-top: 90px;
}
.play {
  display: flex;
  margin-top: 25px;
  margin-left: 190px;
}

@keyframes bump {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.right-col .play {
  transition: 0.3s ease;
  max-width: 50px;
  cursor: pointer;
}

.right-col .play:hover {
  transform: scale(1.1);
}
